<form name="form"  #userEditForm="ngForm" (ngSubmit)="userEditForm.form.valid">
    

    <div class="p-grid">

        <div class="p-lg-6 p-md-12 p-grid"> <!-- BEGINNING OF first column-->


        <!-- Login -->
        <div class="p-col-12 p-grid">    
            <div class="p-col-4 input-label">
                <span i18n="@@login" class="ui-inputgroup-addon ui-widget">Login</span>   
            </div>
            <div class="p-col-8 input-value">
                <div class="ui-inputgroup">      
                            
                    <input [(ngModel)]="appuser.login" 
                        #loginCheck="ngModel" 
                        name="login" 
                        type="text" 
                        pInputText i18n-placeholder="@@login" placeholder="Login" required 
                        pattern="^[a-zA-Z0-9_\-]+$"/>         
                    <div *ngIf="loginCheck.invalid" >
                        <p-message *ngIf="loginCheck.hasError('pattern')" 
                            severity="error" 
                            i18n-text="@@field_is_no_valid" text="Field is not valid"></p-message> 
                        <p-message *ngIf="loginCheck.hasError('required')" 
                            severity="error" 
                            i18n-text="@@field_is_required" text="Field is required"></p-message> 
                    </div>
                    </div>
            </div>      
        </div>

        <!-- Deactivated -->
        <div class="p-col-12 p-grid">
            <div class="p-col-4 input-label">
                <span i18n="@@deactivated" class="ui-inputgroup-addon ui-widget">Deactivated</span>   
            </div>
            <div class="p-col-8 input-value">
                <div class="ui-inputgroup">      
                    <p-checkbox name="deactivated" [(ngModel)]="appuser.deactivated" 
                        [disabled]="appuser.id == null" binary="true" ></p-checkbox>                                    
                </div>
            </div>      
        </div>

        <!-- Password -->
        <div class="p-col-12 p-grid">    
            <div class="p-col-4 input-label">
                <span i18n="@@password" class="ui-inputgroup-addon ui-widget">Mot de passe</span>   
            </div>
            <div class="p-col-8 input-value">
                <div class="ui-inputgroup">      
                            
                    <input [(ngModel)]="appuser.password" 
                        #passwordCheck="ngModel" 
                        name="password" 
                        type="password" 
                        pPassword i18n-placeholder="@@password" placeholder="Password" required 
                        pattern="^[\w\-$%&@#!+()]{8,}$"/>         
                    <div *ngIf="passwordCheck.invalid" >
                        <p-message *ngIf="passwordCheck.hasError('pattern')" 
                            severity="error" 
                            i18n-text="@@field_is_no_valid" text="Field is not valid"></p-message> 
                        <p-message *ngIf="passwordCheck.hasError('required')" 
                            severity="error" 
                            i18n-text="@@field_is_required" text="Field is required"></p-message> 
                    </div>
                    </div>
            </div>      
        </div>

        <!-- Firstname -->
        <div class="p-col-12 p-grid">
    
            <div class="p-col-4 input-label">
                <span i18n="@@firstname" class="ui-inputgroup-addon ui-widget">Prénom</span>   
            </div>
            <div class="p-col-8 input-value">
                <div class="ui-inputgroup">      
                         
                    <input [(ngModel)]="appuser.firstname" 
                        #firstnameCheck="ngModel" 
                        name="firstname" 
                        type="text" 
                        pInputText i18n-placeholder="@@firstname" placeholder="Firstname" required 
                        pattern="^[\D\-]+$"/>         
                    <div *ngIf="firstnameCheck.invalid" >
                        <p-message *ngIf="firstnameCheck.hasError('pattern')" 
                            severity="error" 
                            i18n-text="@@field_is_no_valid" text="Field is not valid"></p-message> 
                        <p-message *ngIf="firstnameCheck.hasError('required')" 
                            severity="error" 
                            i18n-text="@@field_is_required" text="Field is required"></p-message> 
                    </div>
                  </div>
            </div>      
          </div>

        <!-- Lastname -->
        <div class="p-col-12 p-grid">

            <div class="p-col-4 input-label">
                <span i18n="@@lastname" class="ui-inputgroup-addon ui-widget">Nom</span>   
            </div>
            <div class="p-col-8 input-value">
                <div class="ui-inputgroup">      
                            
                    <input [(ngModel)]="appuser.lastname" 
                        #lastnameCheck="ngModel" 
                        name="lastname" 
                        type="text" 
                        pInputText i18n-placeholder="@@lastname" placeholder="Nom" required 
                        pattern="^[\D\-]+$"/>         
                    <div *ngIf="lastnameCheck.invalid" >
                        <p-message *ngIf="lastnameCheck.hasError('pattern')" 
                            severity="error" 
                            i18n-text="@@field_is_no_valid" text="Field is not valid"></p-message> 
                        <p-message *ngIf="lastnameCheck.hasError('required')" 
                            severity="error" 
                            i18n-text="@@field_is_required" text="Field is required"></p-message> 
                    </div>
                    </div>
            </div>      
        </div>

        <!-- Email -->
        <div class="p-col-12 p-grid">

            <div class="p-col-4 input-label">
                <span i18n="@@email" class="ui-inputgroup-addon ui-widget">Email</span>   
            </div>
            <div class="p-col-8 input-value">
                <div class="ui-inputgroup">      
                            
                    <input [(ngModel)]="appuser.email" 
                        #emailCheck="ngModel" 
                        name="email" 
                        type="text" 
                        pInputText i18n-placeholder="@@email" placeholder="Email" required 
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>         
                    <div *ngIf="emailCheck.invalid" >
                        <p-message *ngIf="emailCheck.hasError('pattern')" 
                            severity="error" 
                            i18n-text="@@field_is_no_valid" text="Field is not valid"></p-message> 
                        <p-message *ngIf="emailCheck.hasError('required')" 
                            severity="error" 
                            i18n-text="@@field_is_required" text="Field is required"></p-message> 
                    </div>
                    </div>
            </div>      
        </div>

        <!-- User type -->
        <div class="p-col-12 p-grid">
            <div class="p-col-4 input-label">
                <span i18n="@@user_type" class="ui-inputgroup-addon">Type d'utilisateur</span> 
            </div>
            <div class="p-col-8 input-value">
                <div class="ui-inputgroup">      
                                
                    <p-dropdown [options]="appuserTypesSelectItems" 
                                [(ngModel)]="selectedAppuserType" 
                                #Check="ngModel" 
                                (ngModelChange)="handleChangeOnFieldAppuserType($event)"
                                name="appuserType"     
                                i18n-placeholder="@@select_the_type_of_user"
                                placeholder="Select the type of user" 
                                [filter]="true"
                                [showClear]="true" 
                                [required]="true" 
                                [disabled]="appuser.id != null">
        
                        <ng-template let-selectedItem pTemplate="selectedItem">
                            {{selectedItem.label}}
                        </ng-template>
                        <ng-template let-item pTemplate="item">                    
                            <span  [pTooltip]="item.title">{{item.label}}</span>
                        </ng-template>
                                
                    </p-dropdown>
                    <div *ngIf="Check.invalid" >
                        <p-message *ngIf="Check.hasError('required')" 
                            severity="error" 
                            i18n-text="@@field_is_required" text="Field is required"></p-message> 
                    </div>
                </div>
            </div>              
        </div>

        </div> <!-- ENDOF first column-->

        <div class="p-lg-6 p-md-12 p-grid"> <!-- BEGINNING OF second column-->

          <ng-container *ngIf="appuser.id != null && appuser.appuserType != null">          

            <!-- Composed roles -->
            <div class="p-col-12 p-grid" *ngIf="rolesSelectItems.length > 0">
                <div class="p-col-4 input-label">
                    <span i18n="@@roles" class="ui-inputgroup-addon">Roles</span>
                </div>
                <div class="p-col-8 input-value">
                    <div class="ui-inputgroup">      
                                    
                        <p-multiSelect [options]="rolesSelectItems" 
                                [(ngModel)]="selectedRolesIds" 
                                [panelStyle]="{minWidth:'12em'}"
                                (ngModelChange)="handleChangeOnFieldRoles($event)" 
                                name="roles" #rolesCheck="ngModel"
                                [required]="true" >                            
                                <ng-template let-item pTemplate="item">                    
                                    <span  [pTooltip]="item.title">{{item.label}}</span>
                                </ng-template>        
                        </p-multiSelect>          
                        <div *ngIf="rolesCheck.invalid" >
                            <p-message *ngIf="rolesCheck.hasError('required')" 
                                severity="error" 
                                i18n-text="@@field_is_required" text="Field is required"></p-message> 
                        </div>          
                    </div>
                    {{selectedRolesNames.join(", ")}}
                </div>          
            </div>


            <!-- Organizations -->
            <div class="p-col-12 p-grid" *ngIf="appuser.appuserType == 1">
                <div class="p-col-4 input-label">
                    <span i18n="@@organizations" class="ui-inputgroup-addon">Organisations</span>
                </div>
                <div class="p-col-8 input-value">
                    <div class="ui-inputgroup">      
                                    
                        <!-- The association to organizations is not required for some types of users -->
                        <p-multiSelect [options]="organizationsSelectItems" 
                                [(ngModel)]="selectedOrganizationsIds" 
                                [panelStyle]="{minWidth:'12em'}"
                                (ngModelChange)="handleChangeOnFieldOrganizations($event)" 
                                name="organizations" #organizationsCheck="ngModel"
                                [required]="true" >
                            
                                <ng-template let-item pTemplate="item">                    
                                    <span  [pTooltip]="item.title">{{item.label}}</span>
                                </ng-template>
        
                        </p-multiSelect>  

                                <div *ngIf="organizationsCheck.invalid" >
                                    <p-message *ngIf="organizationsCheck.hasError('required')" 
                                        severity="error" 
                                        i18n-text="@@field_is_required" text="Field is required"></p-message> 
                                    </div>          
                    </div>
                    {{selectedOrganizationsNames.join(", ")}}
                </div>          
            </div>

          
            
          </ng-container>
                     

        </div> <!-- ENDOF second column-->
        
      
    </div> <!-- END OF grid for the two columns of inputs-->
    
    <div class="p-grid">
        <div class="p-col-12 text-center" >
            <button class="big-button" pButton type="button" i18n-label="@@save_appuser" label="Enregistrer"  
            (click)="save()"
            [disabled]="userEditForm.invalid || waitingForEndOfAction"></button>
        </div>
    </div>
    
</form>