<!-- <p-panel toggleable="true" styleClass="check-doc-processing-panel" 
  [style.display]="!(saved || cancelled) ? 'block' : 'none'" 
  > -->
<p-panel toggleable="true" styleClass="check-doc-processing-panel" >

    <ng-template pTemplate="icons">
        <button pButton [disabled]="!readyForSerialization || saving" i18n-label="@@save" label="Enregistrer" 
            icon="fas fa-save" (click)="handleClickOnSaveButton($event)"></button>        
        <button pButton i18n-label="@@cancel" label="Annuler" 
            [disabled]="saving"
            icon="pi pi-times" (click)="handleClickOnCancelButton($event)"></button>        
    </ng-template>

    <ng-template pTemplate="header">
        {{file.name}}
    </ng-template>
    <div class="p-grid">
        <div class="p-col-12">
            <app-manual-tagging [variablesValues]="variablesValuesManuallyFilled"></app-manual-tagging>
        </div>
        <div class="p-col-4">
            <app-check-anonymized-doc 
                [analysis]="resultOfAnonymizationAnalysis" 
                [inProgress]="anonymizationInProgress"></app-check-anonymized-doc>
        </div>
        <div class="p-col-8">
            <app-check-doc-variables 
                [analysis]="resultOfVariablesExtractionAnalysis" 
                [inProgress]="variablesExtractionInProgress"></app-check-doc-variables>
        </div>
    </div>

</p-panel>
