<p-panel toggleable="true" styleClass="check-doc-processing-panel" 
  [style.display]="!saved ? 'block' : 'none'" >

    <ng-template pTemplate="icons">
        <button pButton i18n-label="@@save" label="Enregistrer" 
            icon="fas fa-save" (click)="handleClickOnSaveButton($event)"></button>        
    </ng-template>

    <ng-template pTemplate="header">
        {{file.name}}
    </ng-template>
    <div class="p-grid">
        <div class="p-col-12">
            <app-manual-tagging></app-manual-tagging>
        </div>
        <div class="p-col-6">
            <app-check-anonymized-doc 
                [analysis]="resultOfAnonymizationAnalysis" 
                [inProgress]="anonymizationInProgress"></app-check-anonymized-doc>
        </div>
        <div class="p-col-6">
            <app-check-doc-variables 
                [analysis]="resultOfVariablesExtractionAnalysis" 
                [inProgress]="variablesExtractionInProgress"></app-check-doc-variables>
        </div>
    </div>

</p-panel>
