<ng-container i18n="@@anotherTranslation1">This is another translation 1</ng-container>
<ng-container i18n="@@anotherTranslation2">This is another translation 2</ng-container>
<ng-container i18n="@@home">Home</ng-container>
<ng-container i18n="@@dashboard">Dashboard</ng-container>
<ng-container i18n="@@my_account">my account</ng-container>
<ng-container i18n="@@success">Success</ng-container>
<ng-container i18n="@@deal_saved">Deal saved</ng-container>
<ng-container i18n="@@message_saved">Message saved</ng-container>
<ng-container i18n="@@appuser_saved">User saved</ng-container>
<ng-container i18n="@@preview_not_available_for_this_file_type">Preview is not available for this file type</ng-container>
<ng-container i18n="@@press_esc_to_close">Press 'esc' to close</ng-container>
<ng-container i18n="@@design_saved">Design saved</ng-container>
<ng-container i18n="@@nice_class">Class</ng-container>
<ng-container i18n="@@nice_type">Type</ng-container>
<ng-container i18n="@@style_guide">Style guide</ng-container>
<ng-container i18n="@@style_guide_saved">Style guide saved, you can now upload files in this style guide</ng-container>
<ng-container i18n="@@designs">Designs</ng-container>
<ng-container i18n="@@deals">Deals</ng-container>
<ng-container i18n="@@sales_reports">Sales reports</ng-container>
<ng-container i18n="@@trademarks">Trademarks</ng-container>
<ng-container i18n="@@users">Users</ng-container>
<ng-container i18n="@@companies">Companies</ng-container>
<ng-container i18n="@@settings">Settings</ng-container>
<ng-container i18n="@@cancelled">Cancelled</ng-container>
<ng-container i18n="@@discussed">Discussed</ng-container>
<ng-container i18n="@@approved">Approved</ng-container>
<ng-container i18n="@@rejected">Rejected</ng-container>
<ng-container i18n="@@WARNING_design_has_no_reference_image_set">WARNING: design has no reference image set, approval cannot be given without one</ng-container>
<ng-container i18n="@@confirm_create_new_deal_and_not_a_renewal">Are you sure you want to create a new deal and not a renewal of an existing deal?</ng-container>
<ng-container i18n="@@header_for_dialog_to_create_new_design_forum_from_deal_page">Please give the name and type of the first design discussed in this new forum</ng-container>
<ng-container i18n="@@creation_time">Creation time</ng-container>
<ng-container i18n="@@update_time">Update time</ng-container>
<ng-container i18n="@@style_guide_name">Style guide name</ng-container>
<ng-container i18n="@@style_guide_description">Style guide description</ng-container>
<ng-container i18n="@@do_you_really_want_to_delete_this_style_guide">Do you really want to delete this style guide?</ng-container>
<ng-container i18n="@@style_guide_deleted">Style guide deleted</ng-container>
<ng-container i18n="@@confirmation">Confirmation</ng-container>
<ng-container i18n="@@main_menu_title_for_style_guide_companies_access">Manage accesses to style guides</ng-container>
<ng-container i18n="@@style_guides">Style guides</ng-container>
<ng-container i18n="@@nice_types_used_by_licensee">Nice types used by licensee</ng-container>
<ng-container i18n="@@request_time">Request time</ng-container>
<ng-container i18n="@@requester_name">User requesting style guide</ng-container>
<ng-container i18n="@@last_editor_name">Last editor</ng-container>
<ng-container i18n="@@pending_approval">Pending Approval</ng-container>
<ng-container i18n="@@accesses_to_style_guides_saved">Accesses to style guides saved</ng-container>
<ng-container i18n="@@pending_request">Pending request, please wait</ng-container>
<ng-container i18n="@@request_saved">Request registered</ng-container>
<ng-container i18n="@@request_accepted">Request accepted</ng-container>
<ng-container i18n="@@request_refused">Request refused</ng-container>
<ng-container i18n="@@deal_details">Deal details</ng-container>
<ng-container i18n="@@missing">Undefined</ng-container>
<ng-container i18n="@@null">Undefined</ng-container>
<ng-container i18n="@@undefined">Undefined</ng-container>
<ng-container i18n="@@welcome_back">Welcome back</ng-container>
<ng-container i18n="@@designs_of_deal">Designs of deal</ng-container>
<ng-container i18n="@@company_details">Company details</ng-container>
<ng-container i18n="@@confirm_deal_approved">Do you really want to approve this deal?</ng-container>
<ng-container i18n="@@confirm_deal_cancelled">Do you really want to cancel this deal?</ng-container>
<ng-container i18n="@@confirm_deal_rejected">Do you really want to reject this deal?</ng-container>
<ng-container i18n="@@confirm_deal_discussed">Do you really want to amend this deal? It will require a new approval.</ng-container>
<ng-container i18n="@@do_you_confirm_that_you_want_to_access_this_style_guide">Do you really want to request an access to this style guide?</ng-container>
<ng-container i18n="@@appuser_type">User type</ng-container>
<ng-container i18n="@@appuser_roles">User roles</ng-container>
<ng-container i18n="@@company_saved">Company saved</ng-container>
<ng-container i18n="@@trademark_name">Trademark name</ng-container>
<ng-container i18n="@@trademark_office_code">Office code</ng-container>
<ng-container i18n="@@trademark_application_number">Application number</ng-container>
<ng-container i18n="@@trademark_registration_number">Registration number</ng-container>
<ng-container i18n="@@type">Type</ng-container>
<ng-container i18n="@@applicants">Applicants</ng-container>
<ng-container i18n="@@application_date">Application date</ng-container>
<ng-container i18n="@@registration_date">Registration date</ng-container>
<ng-container i18n="@@expiry_date">Expiry date</ng-container>
<ng-container i18n="@@intellectual_property">Intellectual property</ng-container>
<ng-container i18n="@@nice_classes">Nice classes</ng-container>
<ng-container i18n="@@trademark_saved">Trademark saved</ng-container>
<ng-container i18n="@@filed">Filed</ng-container>
<ng-container i18n="@@registered">Registered</ng-container>
<ng-container i18n="@@expired">Expired</ng-container>
<ng-container i18n="@@ended">Ended</ng-container>
<ng-container i18n="@@combined">Combined</ng-container>
<ng-container i18n="@@word">Word</ng-container>
<ng-container i18n="@@other">Other</ng-container>
<ng-container i18n="@@figurative">Figurative</ng-container>
<ng-container i18n="@@general_mark">General mark</ng-container>
<ng-container i18n="@@_3d">3D</ng-container>
<ng-container i18n="@@_3dshape">3D shape</ng-container>
<ng-container i18n="@@colour">Colour</ng-container>
<ng-container i18n="@@combination_of_colours">Combination of colours</ng-container>
<ng-container i18n="@@hologram">Hologram</ng-container>
<ng-container i18n="@@kennfaden">Kennfaden</ng-container>
<ng-container i18n="@@motion">Motion</ng-container>
<ng-container i18n="@@multimedia">Multimedia</ng-container>
<ng-container i18n="@@olfactory">Olfactory</ng-container>
<ng-container i18n="@@packing">Packing</ng-container>
<ng-container i18n="@@pattern">Pattern</ng-container>
<ng-container i18n="@@position">Position</ng-container>
<ng-container i18n="@@sound">Sound</ng-container>
<ng-container i18n="@@stylized_characters">Stylized characters</ng-container>
<ng-container i18n="@@undefined">Undefined</ng-container>
<ng-container i18n="@@ip">IP</ng-container>
<ng-container i18n="@@merchandising">Merchandising</ng-container>
<ng-container i18n="@@promotion">Promotion</ng-container>
<ng-container i18n="@@nice_classification">Nice classification</ng-container>
<ng-container i18n="@@access_rights">Access rights</ng-container>
<ng-container i18n="@@roles_delegation_rights">Rights on roles delegation</ng-container>
<ng-container i18n="@@no_filter">No filter</ng-container>
<ng-container i18n="@@confirm_design_approved">Do you really want to approve this design?</ng-container>
<ng-container i18n="@@confirm_design_cancelled">Do you really want to cancel this design?</ng-container>
<ng-container i18n="@@confirm_design_rejected">Do you really want to reject this design?</ng-container>
<ng-container i18n="@@confirm_design_discussed">Do you really want to rediscuss this design?</ng-container>
<ng-container i18n="@@royalty_bases">Royalties calcultation bases</ng-container>
<ng-container i18n="@@amount_collected_usd">Amount collected (USD)</ng-container>
<ng-container i18n="@@commission_deducted_by_agent_usd">Commission deducted (USD)</ng-container>
<ng-container i18n="@@amount_due_to_ip_owner_usd">Amount due (USD)</ng-container>
<ng-container i18n="@@period_start_date">Period start</ng-container>
<ng-container i18n="@@period_end_date">Period end</ng-container>
<ng-container i18n="@@description">Description</ng-container>
<ng-container i18n="@@payment_type">Payment type</ng-container>
<ng-container i18n="@@intellectual_properties">Intellectual properties</ng-container>
<ng-container i18n="@@approval_of_physical_sample">Approval of physical sample</ng-container>
<ng-container i18n="@@approval_of_pictures_of_physical_sample">Approval of pictures of physical sample</ng-container>
<ng-container i18n="@@approval_of_files_only">Approval of files only</ng-container>
<ng-container i18n="@@confirm_design_files_approved_waiting_for_preproduction_approval">Do you really want to approve the files of this design?</ng-container>
<ng-container i18n="@@files_approved_waiting_for_preproduction_approval">Files are approved, the design is now waiting for the approval of the pre-production physical sample</ng-container>
<ng-container i18n="@@prefill_content_of_message_for_design_status_discussed">Dear all, design[#DESIGN_NAME#] is in discussion</ng-container>
<ng-container i18n="@@prefill_content_of_message_for_design_status_cancelled">Dear all, design[#DESIGN_NAME#] is cancelled</ng-container>
<ng-container i18n="@@prefill_content_of_message_for_design_status_rejected">Dear all, design[#DESIGN_NAME#] is rejected</ng-container>
<ng-container i18n="@@prefill_content_of_message_for_design_status_approved">
    Dear all, design[#DESIGN_NAME#] is approved. Please send us the market sample before[#MARKET_SAMPLE_INTENDED_ARRIVAL_DATE#]</ng-container>
<ng-container i18n="@@prefill_content_of_message_for_design_status_files_approved_waiting_for_preproduction_approval">
    Dear all, the files of design[#DESIGN_NAME#] are approved. You can now send the pre-production sample for approval.</ng-container>
<ng-container i18n="@@authorized">Authorized</ng-container>
<ng-container i18n="@@nice_type_saved">Nice type saved</ng-container>
<ng-container i18n="@@true">Yes</ng-container>
<ng-container i18n="@@false">No</ng-container>
<ng-container i18n="@@do_you_really_want_to_delete_this_file_filename">Do you really want to delete this file [#FILENAME#]?</ng-container>
<ng-container i18n="@@file_deleted">File deleted</ng-container>
<ng-container i18n="@@distribution_channel_saved">Distribution channel saved</ng-container>
<ng-container i18n="@@royalty_calculation_basis_saved">Royalty calculation basis saved</ng-container>
<ng-container i18n="@@intellectual_property_saved">Intellectual property saved</ng-container>
<ng-container i18n="@@file">File</ng-container>
<ng-container i18n="@@files">Files</ng-container>
<ng-container i18n="@@header_for_dialog_to_create_new_design_forum_from_design_page">Please fill in the required information</ng-container>
<ng-container i18n="@@every_3_months">Every 3 months</ng-container>
<ng-container i18n="@@every_6_months">Every 6 months</ng-container>
<ng-container i18n="@@flatfee">Flatfee</ng-container>
<ng-container i18n="@@royalties">Royalties</ng-container>
<ng-container i18n="@@a_new_version_is_available_long">A new version of MERCHMGT is available (Version #VERSION_NAME#), click the button below to get it</ng-container>
<ng-container i18n="@@deal_reference">Deal ref.</ng-container>
<ng-container i18n="@@forum_reference">Forum ref.</ng-container>
<ng-container i18n="@@too_big">Too big</ng-container>
<ng-container i18n="@@max_size">Max authorized size</ng-container>
<ng-container i18n="@@file_uploaded">File(s) uploaded</ng-container>
<ng-container i18n="@@licensee_collaborator">Licensee collaborator</ng-container>
<ng-container i18n="@@agent_collaborator">Agent collaborator</ng-container>
<ng-container i18n="@@ip_owner_collaborator">IP owner collaborator</ng-container>
<ng-container i18n="@@announcements">Announcements</ng-container>