<ng-container i18n="@@my_account">Mon compte</ng-container>
<ng-container i18n="@@data_qualification">Qualification</ng-container>
<ng-container i18n="@@upload">Upload</ng-container>
<ng-container i18n="@@dataset_name">Nom du dataset</ng-container>
<ng-container i18n="@@variable_name">Nom de la variable</ng-container>
<ng-container i18n="@@variables_nb">Nb variables</ng-container>
<ng-container i18n="@@rows_nb">Nb enregistrements</ng-container>
<ng-container i18n="@@values_checked">Valeurs vérifiées</ng-container>
<ng-container i18n="@@name">Nom</ng-container>