<ng-container i18n="@@my_account">Mon compte</ng-container>
<ng-container i18n="@@data_qualification">Qualification</ng-container>
<ng-container i18n="@@upload">Upload</ng-container>
<ng-container i18n="@@dataset_name">Nom du dataset</ng-container>
<ng-container i18n="@@variable_name">Nom de la variable</ng-container>
<ng-container i18n="@@variables_nb">Nb variables</ng-container>
<ng-container i18n="@@rows_nb">Nb enregistrements</ng-container>
<ng-container i18n="@@values_checked">Valeurs vérifiées</ng-container>

<ng-container i18n="@@nb_values_checked">Nb valeurs vérifiées</ng-container>
<ng-container i18n="@@nb_values_confirmed">Nb valeurs confirmées</ng-container>
<ng-container i18n="@@nb_values_not_confirmed">Nb valeurs infirmées</ng-container>
<ng-container i18n="@@confusion_matrix">Matrice de confusion</ng-container>
<ng-container i18n="@@without_missings">Sans valeurs manquantes</ng-container>
<ng-container i18n="@@sensitivity">Sensibilité</ng-container>
<ng-container i18n="@@specificity">Spécificité</ng-container>
<ng-container i18n="@@precision">Précision</ng-container>


<ng-container i18n="@@among_which_nb_values_confirmed">Dont valeurs confirmées</ng-container>
<ng-container i18n="@@among_which_nb_values_not_confirmed">Dont valeurs infirmées</ng-container>

<ng-container i18n="@@nb_checks_done_by_you">Vos vérifications</ng-container>
<ng-container i18n="@@nb_final_checks_needed">Nb valeurs à trancher</ng-container>

<ng-container i18n="@@name">Nom</ng-container>

<ng-container i18n="@@success">Succès</ng-container>
<ng-container i18n="@@info">Info</ng-container>
<ng-container i18n="@@warn">Attention</ng-container>
<ng-container i18n="@@value_check_saved">Valeur enregistrée</ng-container>
<ng-container i18n="@@true">Oui</ng-container>
<ng-container i18n="@@false">Non</ng-container>
<ng-container i18n="@@idk">NSP</ng-container>
<ng-container i18n="@@choose_a_value">Choisissez une valeur</ng-container>
<ng-container i18n="@@user_doesnt_know">NSP</ng-container>
<ng-container i18n="@@users">Utilisateurs</ng-container>

<ng-container i18n="@@lastname">Nom</ng-container>
<ng-container i18n="@@firstname">Prénom</ng-container>
<ng-container i18n="@@organizations">Entités</ng-container>
<ng-container i18n="@@user_type">Type d'utilisateur</ng-container>
<ng-container i18n="@@user_saved">Utilisateur enregistré</ng-container>

