<p-panel >
    <app-spinner *ngIf="inProgress"></app-spinner>
    <ng-template pTemplate="icons">
        <button pButton [disabled]="disableRefreshButton" i18n-label="@@refresh_variable_extraction" label="Raffraîchir les variables" 
            icon="fas fa-sync-alt" (click)="handleClickOnRefreshButton($event)"></button>        
    </ng-template>
    <ng-template pTemplate="header" i18n="variables_extraction_result">
        Résultat de l'extraction des variables
    </ng-template>
    <div *ngIf="analysis">
        <!-- <app-check-doc-variable         
            *ngFor="let _var of variables" [variable]="_var"></app-check-doc-variable> -->

        <p-table #dt [columns]="cols" [value]="variablesForTableDisplay" 
                [scrollable]="true" scrollHeight="75vh">

            <!-- Columns headers and filters-->
            <ng-template pTemplate="header" let-rowData let-columns>
                <tr>
                    <ng-container *ngFor="let col of columns" >
                        <th [pSortableColumn]="col.field">
                            <span class="d-inline-block text-truncate overflow-hidden" style="max-width: 100%;" 
                                      data-toggle="tooltip" [title]="col.header">
                                {{col.header}}
                            </span>
                            <p-sortIcon field="col.field"></p-sortIcon>
                        </th>
                    </ng-container>                    
                </tr>

                <tr>
                    <ng-container *ngFor="let col of columns" >
                        <th [ngSwitch]="rowData['valueType']">
                            <input *ngSwitchDefault pInputText type="text" 
                                [style]="{'width':'100%'}"
                                (input)="dt.filter($event.target.value, col.field, 'contains')">
                            <!-- <p-columnFilter type="text" field="col.field"></p-columnFilter> -->
                        </th>
                    </ng-container>                    
                </tr>

            </ng-template>

            <!-- Columns sizes -->
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <ng-container *ngFor="let col of columns" >
                        <ng-container *ngIf="col.columnIsDisplayed" [ngSwitch]="col.field">
                            <col *ngSwitchDefault [ngStyle]="{'width': col.width}"/>
                        </ng-container>                
                    </ng-container>                            
                </colgroup>
            </ng-template>

            <!-- Values -->
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <ng-container  *ngFor="let col of columns" >

                        <ng-container *ngIf="col.field == 'name' 
                                            || col.field == 'anonymizationType'
                                            || col.field == 'pseudoValue';
                                            else colsThatMayNeedOverflow">
                            <td >                                                    
                                <span class="d-inline-block text-truncate overflow-hidden" style="max-width: 100%;" 
                                      data-toggle="tooltip" [title]="rowData[col.field]">
                                    {{rowData[col.field]}}
                                </span> 
                            </td>           
                        </ng-container>
                        <ng-template #colsThatMayNeedOverflow>
                            <ng-container>
                                <td [ngSwitch]="rowData['valueType']">                                                    
                                    <span *ngSwitchDefault >{{rowData[col.field]}}</span>
                                    <p-scrollPanel *ngSwitchCase="'text'" 
                                        styleClass="variable-value-scroll-panel always-visible-scrollbar" >
                                        {{rowData[col.field]}}
                                    </p-scrollPanel>  
                                </td>                        
                            </ng-container>
                        </ng-template>
                       
                        
                    </ng-container>
                </tr>
            </ng-template>
        </p-table>
    </div>
    
</p-panel>

