// Needed so that we can extend some classes (eg '.forum-message-content')
@import '../node_modules/quill/dist/quill.snow'; 

// Needed so that we can extend some classes (eg. '.text-center')
@import 'bootstrap'; 

// Needed so that we can extend some classes (eg. '.text-center')
// @import 'bootstrap'; 

// https://www.w3schools.com/bootstrap/bootstrap_ref_all_classes.asp

$body-background-color:#ffffff; // Change me when changing the theme
$color-for-active-filter-input:#ebffbd ; // May need to change me when changing the theme

$thumbnail-size: 6em !important;
$font-family:"Open Sans", "Helvetica Neue", sans-serif;
$custom-white:#fafafa;
$custom-lightgrey:#aaaaaa;
$custom-superlightgrey:#f5f5f5;

$even-row-color: #f9f9f9;

$default-row-height:10em;
$row-height-on-dashboard:20em;
$default-spacing:.5em;
$row-height-on-deals-listing:10em;

body {
    background-color: $body-background-color;
}

label {
    margin-bottom: 0;
}

.main-ip-icon + .ui-menuitem-text { 
    background: url(assets/img/home.png) no-repeat;  
    background-size: 1.8em;
    color:rgba(255, 0, 0, 0)!important; // Workaround to have the text disappear
} 

.default-margin-top {
    margin-top:$default-spacing;
}

.width-100pct {
    width:100%;
}

.source-value-container .ui-card {
    height: 100%;
}

// https://css-tricks.com/centering-css-complete-guide/#center-vertically
// NOTE: We use primeflex classes instead: p-grid p-align-center vertical-container
// .vertical-align-middle-parent {
//     position: relative;
//     &>:first-child {
//         position: absolute;
//         top: 50%;
//         transform: translateY(-50%);
//     }
// }



// Special columns
.action-column {
    width:3em;
}

.action-cell {
    text-align: center!important;
}

.thumbnail-column {
    width:10em;
}

// NOTE: We restrict to the first table because the cells of the
//         table may contain some tables themselves
.table_with_centered_content table, 
.table_with_centered_content .p-table-wrapper > table,
.table_with_centered_content .p-table-scrollable-header-box > table,
.table_with_centered_content .p-table-scrollable-body > table 
{ 
    td, th, th input {
        @extend .text-center;
        table {
            td,th {
                text-align: initial !important;
            }
        }
    }
}

.confusion-matrix td, .confusion-matrix th{
    text-align: right;
    padding: .0em 0.25em .0em 0.25em;
}

.text-elt-in-anonymized-analysis {
    margin-right: 0.5em;
}

.word-in-anonymized-analysis {
    margin-right: 0.5em;
}

.identifying-value-type-name-highlight {
    background-color: yellow;
}

.identifying-value-type-date-highlight {
    background-color: rgb(158, 228, 255);
}

.identifying-value-type-zip_code-highlight {
    background-color: rgb(255, 124, 248);
}

.check-doc-processing-panel {
    margin-bottom: .5em;
}

.anonymization-container {
    overflow-wrap: anywhere;
}

.p-fileupload-content {
    min-height: 2em;
}

.p-fileupload-content::before {
    content: "Glisser les fichiers ici ◎ ou Cliquer sur le bouton +";
    color: $custom-lightgrey;
}

button + button {
    margin-left: .5em!important ;
}

.processing-full-page-block-ui .p-blockui{
    background-color: #94744f3f !important;
    z-index: 1000;
}

// Ugly workaround, we need to specify both because some pages (home) 
//  do not behave correctly without .processing-full-page-block-ui and on other
//  pages (style-guide) the element looses the class `processing-full-page-block-ui`
.processing-full-page-block-ui .p-blockui:after, .p-blockui:after {    
    content: "\f110"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 10vw;
    color: grey;
    top: 58%;
    left: 56%;
    margin: -300px 0 0 -200px;
    z-index: 1002;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}