<app-main-menu></app-main-menu>
<p-toast [hideTransitionOptions]="'5000ms'"></p-toast>


<p-panel *ngIf="variable" header="Affecter une valeur à la variable sur la base des valeurs sources fournies">


    <div class="p-grid">        
        <ng-container *ngFor="let src of sources">
            <div class="p-col-6">

                <p-card header="{{src.name}}" class="source-value-container">
                    <pre>{{src.value}}</pre>
                </p-card>
                

                <!-- <div class="p-grid">
                    <div class="p-col-12">
                        {{src.name}}
                    </div>
                    <div class="p-col-12">
                        <pre>{{src.value}}</pre>
                    </div>                    
                </div>  -->


            </div>
        </ng-container>

        <div class="p-col-12">
            <div class="p-grid ">
                <div class="p-col-2">
                    <div class="p-d-flex p-jc-center">
                        <p-button label="Enregistrer et revenir à la valeur précédente" class="p-as-center" icon="fas fa-angle-left"></p-button>
                    </div>
                </div>
                <div class="p-col-8">
                    <div class="ui-fluid" style="margin-top:1em;">
                        <div class="p-field p-grid ">
                            <label for="firstname4" class="p-col-12 p-md-2">{{variable.name}} : </label>
                            <div class="p-col-12 p-md-10">
                                <input id="firstname4" type="text" pInputText> 
                            </div>
                        </div>    
                    </div>     
                </div>
                <div class="p-col-2">
                    <div class="p-d-flex p-jc-center">
                        <p-button label="Enregistrer et passer à la valeur suivante" class="p-as-center" icon="fas fa-angle-right" iconPos="right"></p-button>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</p-panel>



<div style="clear:both"></div>

<app-app-version></app-app-version>
